@layer components {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        text-wrap: wrap;
        flex-wrap: wrap;

        .messages {
            border: 1px solid #ccc;
            background-color: #3d3c3c;
            padding: 1em;
            width: 70%;
            min-height: 30vh;

            .message-list {
                display: flex;
                flex-direction: column;

                .message {
                    overflow-wrap: break-word;
                    word-break: break-word;
                }
            }
        }

        .msg-form {
            border: 1px solid #ccc;
            padding: 1em;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;

            .msg-content {
                min-height: 75px;
                background-color: #131212;
                resize: none;
                overflow: hidden;
                min-width: 100%;
            }

            .send-msg-btn {
                border: none;
                background-color: #4b34a9;
                color: #d0cfd6;
                min-width: 30%;
                border-radius: 3px;
                cursor: pointer;
                padding: 1rem;

                &:hover,
                &:active {
                    background-color: #432aa3;
                }
            }
        }
    }
}