@use '../public/styles/reset.scss' as reset;
@use '../public/styles/typography.scss' as typography;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@include reset.reset;
@include typography.typography;

@mixin img-wrapper() {
    position: relative;
    overflow: hidden;
}

@mixin auth-header() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50rem;
    margin: 2rem auto;

    p {
        font-size: 1.25rem;
    }

    button {
        font: inherit;
        cursor: pointer;
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: #6f34a9;
        color: #d0cfd6;
        border-radius: 3px;
    }

    button:hover,
    button:active {
        background-color: #5f2a8a;
    }
}

#auth-header {
    @include auth-header;
}