@import "tailwindcss";

@plugin "daisyui" {
    prefix: ;
    themes: light --default, dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    logs: true;
}

@import "../public/styles/_reset.css";
@import "../public/styles/_typography.css";

@layer components {
    .img-wrapper {
        position: relative;
        overflow: hidden;
    }
}

@layer components {
    #auth-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 50rem;
        margin: 2rem auto;

        p {
            font-size: 1.25rem;
        }

        .logout-btn {
            font: inherit;
            cursor: pointer;
            padding: 0.5rem 1.5rem;
            border: none;
            background-color: #6f34a9;
            color: #d0cfd6;
            border-radius: 3px;

            &:hover,
            &:active {
                background-color: #5f2a8a;
            }
        }
    }
}